body {
    font-family: 'Roboto', sans-serif;
  }
  .dark-grey-bg {
    background-color: #1F1F1F;
  }
  .neon-green {
    color: #39FF14;
  }
  .neon-green-bg {
    background-color: #39FF14;
  }
  .camera-image-placeholder {
    background-color: #555;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }